body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    color:gainsboro
}
p{
    color:white;
    font-size:18px
}
ul, ol{
    color: gainsboro;
    list-style-position:inside;
    padding-left:0;
}
footer{
    color:white;
}

